<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='InputL.css') }}">
</head>

<body>
    <form method="POST" action="/">
        <div class="Inputbox">
            <input type="text" required="required" id="value" name="value">
            <span>Input Box</span>
        </div>
        <div>
            <input class="anniu" type="submit" value="翻译">
        </div>
    </form>

</body>

</html>